## BRADSTREET INDEX

### Formula to Calculate CPI for a single item

 CPI for a single item can be calculated using following formula:
 
$ { CPI\ of\ the\ current\  = \frac  {Current\ Price\ of\ The\ Item}{Price\ of\ The\ Base\ Year} * 100} $

#### Problem 1 -  CPI for a Single Item

If, in 2014, a car cost R$ 35,900.00 and, in 2015, the price of this car was 42,900.00, what is the relative price (rp) of the car, considering 2014 as the base date?

In [1]:
# Consider the base year as 2015.

# Current year (Base)
y1 = 2015 
p1=35900

# Last year
y2 = 2014
p2=42900

rp = p2/p1*100
print(f'rp = {rp:.2f}')
print(f'This answer implies that the prices of the car have been increased by {rp-100:.2f}% from {y2} to {y1}.')

rp = 119.50
This answer implies that the prices of the car have been increased by 19.50% from 2014 to 2015.


The relative works for only one item. Now what if we have more than one item?

#### Problem 2 - CPI for a basket of commodities 
(use excel datasheet below)

In [2]:
import pandas as pd

df = pd.read_excel('00_commodities_basket.xlsx')
#df.info()
df

           Product     p1     p2     q1     q2
0       Basketball   49.9   59.9  100.0   80.0
1      Soccer Ball   62.0   59.9  230.0  310.0
2   Football shoes  120.0  135.0  130.0  140.0
3  Tennis Racquets  240.0  280.0   20.0   22.0

In [3]:
display(df['Product'])

0         Basketball
1        Soccer Ball
2     Football shoes
3    Tennis Racquets
Name: Product, dtype: object

In [4]:
df['Product'][0]

'Basketball'

In [5]:
df.loc[0, 'p1']

49.9

In [6]:
df['Product'][1]

'Soccer Ball'

In [7]:
df.loc[1, 'p1']

62.0

In [8]:
df['p1*q1'] = df['p1']*df['q1']

In [9]:
df['p2*q2'] = df['p2']*df['q2']

In [10]:
df

           Product     p1     p2     q1     q2    p1*q1    p2*q2
0       Basketball   49.9   59.9  100.0   80.0   4990.0   4792.0
1      Soccer Ball   62.0   59.9  230.0  310.0  14260.0  18569.0
2   Football shoes  120.0  135.0  130.0  140.0  15600.0  18900.0
3  Tennis Racquets  240.0  280.0   20.0   22.0   4800.0   6160.0

In [11]:
total = df.sum()

In [12]:
# How to Add or Insert Row to Pandas DataFrame?
# https://pythonexamples.org/pandas-dataframe-add-append-row/

new_row = pd.Series(data=total, name='Total')

In [13]:
df = df.append(new_row, ignore_index=False)

In [14]:
df.loc['Total', 'Product'] = " ------- "

In [15]:
# df = df.round(2)
df

               Product     p1     p2     q1     q2    p1*q1    p2*q2
0           Basketball   49.9   59.9  100.0   80.0   4990.0   4792.0
1          Soccer Ball   62.0   59.9  230.0  310.0  14260.0  18569.0
2       Football shoes  120.0  135.0  130.0  140.0  15600.0  18900.0
3      Tennis Racquets  240.0  280.0   20.0   22.0   4800.0   6160.0
Total         -------   471.9  534.8  480.0  552.0  39650.0  48421.0

In [16]:
total = df.iloc[-1:]

In [17]:
# HowTo Convert values in pandas dataframe to two decimal points?
# 
total

         Product     p1     p2     q1     q2    p1*q1    p2*q2
Total   -------   471.9  534.8  480.0  552.0  39650.0  48421.0

In [18]:
# LaTeX/Mathematics 
# https://en.wikibooks.org/wiki/LaTeX/Mathematics

## Bradstreet Index Calculation $ \therefore $

$Bradstreet\ Index\ Price 	\rightarrow  B_p =\frac {\displaystyle\sum_{i=1}^{n} p_2}{\displaystyle\sum_{i=1}^{n} p_1}    $

$Bradstreet\ Index\ Quantity 	\rightarrow  \rightarrow  \rightarrow B_q =\frac {\displaystyle\sum_{i=1}^{n} q_2}{\displaystyle\sum_{i=1}^{n}q_1}    $

$Bradstreet\ Index\ Total (p*q = v (value) \rightarrow  \rightarrow \rightarrow B_x =\frac {\displaystyle\sum_{i=1}^{n} v_2}{\displaystyle\sum_{i=1}^{n} v_1}    $

In [19]:
ùêµùëù = df.iloc[-1:]['p2'][0]/df.iloc[-1:]['p1'][0]*100

In [20]:
ùêµùëû = df.iloc[-1:]['q2'][0]/df.iloc[-1:]['q1'][0]*100

In [21]:
ùêµùë£ = df.iloc[-1:]['p2*q2'][0]/df.iloc[-1:]['p1*q1'][0]*100

In [22]:
print(f'ùêµùëù = {ùêµùëù:.4f} %')
print(f'ùêµùëû = {ùêµùëû:.4f} %')
print(f'ùêµùë£ = {ùêµùë£:.4f} %')

ùêµùëù = 113.3291 %
ùêµùëû = 115.0000 %
ùêµùë£ = 122.1211 %

In [23]:
print(f'This answer implies that  of the commodities have been modified for {y2}-{y1} period by:')
print(f'  1 - the prices      {ùêµùëù-100:.2f}% ')
print(f'  2 - the quantities  {ùêµq-100:.2f}% ')
print(f'  3 - the volume      {ùêµv-100:.2f}%   \nIn accordance with the index of Bradstreet.')

This answer implies that  of the commodities have been modified for 2014-2015 period by:
  1 - the prices      13.33%
  2 - the quantities  15.00%
  3 - the volume      22.12%
In accordance with the index of Bradstreet.

In [24]:
print("That's it! Thank you!")

That's it! Thank you!