## SAUERBECK INDEX - GEOMETRIC

In [1]:
# Consider the base year as 2015.

# Current year (Base)
y1 = 2015 


# Last year
y2 = 2014

#### Problem 1 - CPI for a basket of commodities 
(use excel datasheet below)

In [2]:
import pandas as pd

df = pd.read_excel('00_commodities_basket.xlsx')
#df.info()
df

           Product     p1     p2     q1     q2
0       Basketball   49.9   59.9  100.0   80.0
1      Soccer Ball   62.0   59.9  230.0  310.0
2   Football shoes  120.0  135.0  130.0  140.0
3  Tennis Racquets  240.0  280.0   20.0   22.0

In [3]:
display(df['Product'])

0         Basketball
1        Soccer Ball
2     Football shoes
3    Tennis Racquets
Name: Product, dtype: object

In [4]:
df['Product'][0]

'Basketball'

In [5]:
df.loc[0, 'p1']

49.9

In [6]:
df['Product'][1]

'Soccer Ball'

In [7]:
df.loc[1, 'p1']

62.0

In [8]:
df['p1*q1'] = df['p1']*df['q1']

In [9]:
df['p2*q2'] = df['p2']*df['q2']

In [10]:
df

           Product     p1     p2     q1     q2    p1*q1    p2*q2
0       Basketball   49.9   59.9  100.0   80.0   4990.0   4792.0
1      Soccer Ball   62.0   59.9  230.0  310.0  14260.0  18569.0
2   Football shoes  120.0  135.0  130.0  140.0  15600.0  18900.0
3  Tennis Racquets  240.0  280.0   20.0   22.0   4800.0   6160.0

In [11]:
df['rp'] = df['p2']/df['p1']
df['rq'] = df['q2']/df['q1']
df['rv'] = df['p2*q2']/df['p1*q1']

In [12]:
df.drop(['p1', 'p2', 'q1','q2','p1*q1', 'p2*q2'], axis=1, inplace=True)

In [13]:
df

           Product        rp        rq        rv
0       Basketball  1.200401  0.800000  0.960321
1      Soccer Ball  0.966129  1.347826  1.302174
2   Football shoes  1.125000  1.076923  1.211538
3  Tennis Racquets  1.166667  1.100000  1.283333

In [14]:
count_rows = df.shape[0]
count_rows

4

In [15]:
def multiplyList(myList) :
     
    # Multiply elements one by one
    result = 1
    for x in myList:
         result = result * x
    return result

list =[]
for n in df['rp']:
    list.append(n)
    rp = multiplyList(list) 
    
list =[]
for n in df['rq']:
    list.append(n)
    rq = multiplyList(list) 
    
list =[]
for n in df['rv']:
    list.append(n)
    rv = multiplyList(list) 
    
thisdict = {
  "rp": rp,
  "rq": rq,
  "rv": rv
}

In [16]:
new_row = pd.Series(data=thisdict, name='Total')

In [17]:
df = df.append(new_row, ignore_index=False)

In [18]:
df.loc['Total', 'Product'] = " ------- "

In [19]:
#df = df.round(2)
df

               Product        rp        rq        rv
0           Basketball  1.200401  0.800000  0.960321
1          Soccer Ball  0.966129  1.347826  1.302174
2       Football shoes  1.125000  1.076923  1.211538
3      Tennis Racquets  1.166667  1.100000  1.283333
Total         -------   1.522161  1.277324  1.944294

In [20]:
total = df.iloc[-1:]

In [21]:
total

         Product        rp        rq        rv
Total   -------   1.522161  1.277324  1.944294

## SAUERBECK (Geometric) Index Calculation $ \therefore $

$SAUERBECK\ Index\ Price 	\rightarrow  S_p^G = \sqrt[n]{\Pi r_p} $

$SAUERBECK\ Index\ Quantity 	\rightarrow  \rightarrow  \rightarrow S_p^G = \sqrt[n]{\Pi r_q}    $

$SAUERBECK\ Index\ Total (p*q = v (value) \rightarrow  \rightarrow \rightarrow S_v^G =  \sqrt[n]{\Pi r_v}     $

In [22]:
Sùëù = (df.iloc[-1:]['rp'][0])**(1.0/count_rows)*100

In [23]:
Sùëû = (df.iloc[-1:]['rq'][0])**(1.0/count_rows)*100

In [24]:
Sùë£ = (df.iloc[-1:]['rv'][0])**(1.0/count_rows)*100

In [25]:
print(f'Sùëù = {Sùëù:.4f} %')
print(f'Sùëû = {Sùëû:.4f} %')
print(f'Sùë£ = {Sùë£:.4f} %')

Sùëù = 111.0747 %
Sùëû = 106.3103 %
Sùë£ = 118.0838 %

In [26]:
print(f'This answer implies that  of the commodities have been modified for {y2}-{y1} period by:')
print(f'  1 - the prices      {Sùëù-100:.2f}% ')
print(f'  2 - the quantities  {Sq-100:.2f}% ')
print(f'  3 - the volume      {Sv-100:.2f}%   \nIn accordance with the index of SAUERBECK (Geometric).')

This answer implies that  of the commodities have been modified for 2014-2015 period by:
  1 - the prices      11.07%
  2 - the quantities  6.31%
  3 - the volume      18.08%
In accordance with the index of SAUERBECK (Geometric).

In [27]:
print("That's it! Thank you!")

That's it! Thank you!