## SAUERBECK INDEX - HARMONIC

### Formula to Calculate CPI for a single item

 CPI for a single item can be calculated using following formula:
 
$ { CPI\ of\ the\ current\  = \frac  {Current\ Price\ of\ The\ Item}{Price\ of\ The\ Base\ Year} * 100} $

In [1]:
# Consider the base year as 2015.

# Current year (Base)
y1 = 2015 


# Last year
y2 = 2014

#### Problem 1 - CPI for a basket of commodities 
(use excel datasheet below)

In [2]:
import pandas as pd

df = pd.read_excel('00_commodities_basket.xlsx')
#df.info()
df

           Product     p1     p2     q1     q2
0       Basketball   49.9   59.9  100.0   80.0
1      Soccer Ball   62.0   59.9  230.0  310.0
2   Football shoes  120.0  135.0  130.0  140.0
3  Tennis Racquets  240.0  280.0   20.0   22.0

In [3]:
display(df['Product'])

0         Basketball
1        Soccer Ball
2     Football shoes
3    Tennis Racquets
Name: Product, dtype: object

In [4]:
df['Product'][0]

'Basketball'

In [5]:
df.loc[0, 'p1']

49.9

In [6]:
df['Product'][1]

'Soccer Ball'

In [7]:
df.loc[1, 'p1']

62.0

In [8]:
df['p1*q1'] = df['p1']*df['q1']

In [9]:
df['p2*q2'] = df['p2']*df['q2']

In [10]:
df

           Product     p1     p2     q1     q2    p1*q1    p2*q2
0       Basketball   49.9   59.9  100.0   80.0   4990.0   4792.0
1      Soccer Ball   62.0   59.9  230.0  310.0  14260.0  18569.0
2   Football shoes  120.0  135.0  130.0  140.0  15600.0  18900.0
3  Tennis Racquets  240.0  280.0   20.0   22.0   4800.0   6160.0

In [11]:
df['rp'] = df['p1']/df['p2']
df['rq'] = df['q1']/df['q2']
df['rv'] = df['p1*q1']/df['p2*q2']

In [12]:
df.drop(['p1', 'p2', 'q1','q2','p1*q1', 'p2*q2'], axis=1, inplace=True)

In [13]:
df

           Product        rp        rq        rv
0       Basketball  0.833055  1.250000  1.041319
1      Soccer Ball  1.035058  0.741935  0.767947
2   Football shoes  0.888889  0.928571  0.825397
3  Tennis Racquets  0.857143  0.909091  0.779221

In [14]:
count_rows = df.shape[0]
count_rows

4

In [15]:
total = df.sum()

In [16]:
new_row = pd.Series(data=total, name='Total')

In [17]:
df = df.append(new_row, ignore_index=False)

In [18]:
df.loc['Total', 'Product'] = " ------- "

In [19]:
#df = df.round(2)
df

               Product        rp        rq        rv
0           Basketball  0.833055  1.250000  1.041319
1          Soccer Ball  1.035058  0.741935  0.767947
2       Football shoes  0.888889  0.928571  0.825397
3      Tennis Racquets  0.857143  0.909091  0.779221
Total         -------   3.614145  3.829598  3.413883

In [20]:
total = df.iloc[-1:]

In [21]:
total

         Product        rp        rq        rv
Total   -------   3.614145  3.829598  3.413883

## SAUERBECK (Harmonic) Index Calculation $ \therefore $

$SAUERBECK\ Index\ Price 	\rightarrow  S_p^H =\frac {n}{\displaystyle\sum_{i=1}^{n} r_p}    $

$SAUERBECK\ Index\ Quantity 	\rightarrow  \rightarrow  \rightarrow S_q^H =\frac {n}{\displaystyle\sum_{i=1}^{n} r_q}    $

$SAUERBECK\ Index\ Total (p*q = v (value) \rightarrow  \rightarrow \rightarrow S_x^H =\frac {n}{\displaystyle\sum_{i=1}^{n} r_v}    $

In [22]:
S𝑝 = count_rows*100/df.iloc[-1:]['rp'][0]

In [23]:
S𝑞 = count_rows*100/df.iloc[-1:]['rq'][0]

In [24]:
S𝑣 = count_rows*100/df.iloc[-1:]['rv'][0]

In [25]:
print(f'S𝑝 = {S𝑝:.4f} %')
print(f'S𝑞 = {S𝑞:.4f} %')
print(f'S𝑣 = {S𝑣:.4f} %')

S𝑝 = 110.6762 %
S𝑞 = 104.4496 %
S𝑣 = 117.1686 %

In [26]:
print(f'This answer implies that  of the commodities have been modified for {y2}-{y1} period by:')
print(f'  1 - the prices      {S𝑝-100:.2f}% ')
print(f'  2 - the quantities  {Sq-100:.2f}% ')
print(f'  3 - the volume      {Sv-100:.2f}%   \nIn accordance with the index of SAUERBECK (Harmonic).')

This answer implies that  of the commodities have been modified for 2014-2015 period by:
  1 - the prices      10.68%
  2 - the quantities  4.45%
  3 - the volume      17.17%
In accordance with the index of SAUERBECK (Harmonic).

In [27]:
print("That's it! Thank you!")

That's it! Thank you!