## LASPEYRES INDEX

### What is it ?

Laspeyres Index is a methodology to calculate the consumer price index by measuring the change in the price of the basket of goods to the base year. 

It was invented by Etienne Laspeyres, an economist from Germany to analyze the changes in the prices as compared to the base year period.

In [1]:
# Consider the base year as 2015.

# Current year (Base)
y1 = 2015 


# Last year
y2 = 2014

#### Problem 1 - CPI for a basket of commodities 
(use excel datasheet below)

In [2]:
import pandas as pd

df = pd.read_excel('00_commodities_basket.xlsx')
#df.info()
df

           Product     p1     p2     q1     q2
0       Basketball   49.9   59.9  100.0   80.0
1      Soccer Ball   62.0   59.9  230.0  310.0
2   Football shoes  120.0  135.0  130.0  140.0
3  Tennis Racquets  240.0  280.0   20.0   22.0

In [3]:
display(df['Product'])

0         Basketball
1        Soccer Ball
2     Football shoes
3    Tennis Racquets
Name: Product, dtype: object

In [4]:
df['Product'][0]

'Basketball'

In [5]:
df.loc[0, 'p1']

49.9

In [6]:
df['Product'][1]

'Soccer Ball'

In [7]:
df.loc[1, 'p1']

62.0

In [8]:
df['p1*q1'] = df['p1']*df['q1']

In [9]:
df['p1*q2'] = df['p1']*df['q2']

In [10]:
df['p2*q1'] = df['p2']*df['q1']

In [11]:
df['p2*q2'] = df['p2']*df['q2']

In [12]:
df

,Product,p1,p2,q1,q2,p1*q1,p1*q2,p2*q1,p2*q2
0,Basketball,49.9,59.9,100.0,80.0,4990.0,3992.0,5990.0,4792.0
1,Soccer Ball,62.0,59.9,230.0,310.0,14260.0,19220.0,13777.0,18569.0
2,Football shoes,120.0,135.0,130.0,140.0,15600.0,16800.0,17550.0,18900.0
3,Tennis Racquets,240.0,280.0,20.0,22.0,4800.0,5280.0,5600.0,6160.0

In [13]:
df.drop(['p1', 'p2', 'q1','q2'], axis=1, inplace=True)

In [14]:
# How to change the order of DataFrame columns? 
# https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

df = df[['p1*q1','p1*q2','p2*q1','p2*q2']]
df

     p1*q1    p1*q2    p2*q1    p2*q2
0   4990.0   3992.0   5990.0   4792.0
1  14260.0  19220.0  13777.0  18569.0
2  15600.0  16800.0  17550.0  18900.0
3   4800.0   5280.0   5600.0   6160.0

In [15]:
count_rows = df.shape[0]
count_rows

4

In [16]:
total = df.sum()

In [17]:
new_row = pd.Series(data=total, name='Total')

In [18]:
df = df.append(new_row, ignore_index=False)

In [19]:
df.loc['Total', 'Product'] = " ------- "

In [20]:
df = df.drop('Product', axis=1)
df

         p1*q1    p1*q2    p2*q1    p2*q2
0       4990.0   3992.0   5990.0   4792.0
1      14260.0  19220.0  13777.0  18569.0
2      15600.0  16800.0  17550.0  18900.0
3       4800.0   5280.0   5600.0   6160.0
Total  39650.0  45292.0  42917.0  48421.0

In [21]:
total = df.iloc[-1:]

In [22]:
total

         p1*q1    p1*q2    p2*q1    p2*q2
Total  39650.0  45292.0  42917.0  48421.0

## LASPEYRES Index Calculation $ \therefore $

$LASPEYRES\ Index\ Price 	\rightarrow  L_p =\frac {\displaystyle\sum_{i=1}^{n} p_2 q_1}{\displaystyle\sum_{i=1}^{n} p_1 q_1}    $

$LASPEYRES\ Index\ Quantity 	\rightarrow  \rightarrow  \rightarrow L_q =\frac {\displaystyle\sum_{i=1}^{n} p_1 q_2}{\displaystyle\sum_{i=1}^{n} p_1 q_1}    $

$LASPEYRES\ Index\ Total (p*q = v (value) \rightarrow  \rightarrow \rightarrow L_v =\frac {\displaystyle\sum_{i=1}^{n} p_2 q_2}{\displaystyle\sum_{i=1}^{n} p_1 q_1}    $

In [23]:
L𝑝 = df.iloc[-1:]['p2*q1'][0]/df.iloc[-1:]['p1*q1'][0]

In [24]:
L𝑞 =  df.iloc[-1:]['p1*q2'][0]/df.iloc[-1:]['p1*q1'][0]

In [25]:
L𝑣 =  df.iloc[-1:]['p2*q2'][0]/df.iloc[-1:]['p1*q1'][0]

In [26]:
print(f'L𝑝 = {L𝑝:.4f} %')
print(f'L𝑞 = {L𝑞:.4f} %')
print(f'L𝑣 = {L𝑣:.4f} %')

L𝑝 = 1.0824 %
L𝑞 = 1.1423 %
L𝑣 = 1.2212 %

In [27]:
print(f'This answer implies that  of the commodities have been modified for {y2}-{y1} period by:')
print(f'  1 - the prices      {L𝑝*100:.2f}% ')
print(f'  2 - the quantities  {Lq*100:.2f}% ')
print(f'  3 - the volume      {Lv*100:.2f}%   \nIn accordance with the index of LASPEYRES.')

This answer implies that  of the commodities have been modified for 2014-2015 period by:
  1 - the prices      108.24%
  2 - the quantities  114.23%
  3 - the volume      122.12%
In accordance with the index of LASPEYRES.

In [28]:
print("That's it! Thank you!")

That's it! Thank you!